export("ugPlot")
import("shiny", except=c(dataTableOutput, renderDataTable))
import("shinyWidgets")
import("shinyjs", except=c(alert, runExample))
import("shinybusy")
import("ggplot2")
import("heatmap3")
import("DT")
import("gplots")
import("viridis")
import("RColorBrewer")
import("dendextend")
import("pheatmap")
import("randomForest", except = c("combine", "margin"))
import("gridExtra", except = "combine")
import("glmnet")
import("plotly", except=c(last_plot))
import("tidyr")
import("keras")
import("caret")
importFrom("parallel", "makeCluster", "detectCores","stopCluster")
importFrom("doParallel", "registerDoParallel")
importFrom("grDevices", "colorRampPalette", "rainbow")
importFrom("stats", "as.formula", "complete.cases", "cor", "predict", "setNames", "var")
importFrom("utils", "install.packages", "installed.packages", "read.table", "write.csv")
importFrom("R.utils", "withTimeout")
