.scrollable-table {
      height: 200px;
      overflow-y: auto;
      background-color: #f7f8fa;
      border: 1px;
      border-color: black solid;
      padding: 10px;
      border-radius: 15px;
}

.rowplotlist {
  /**height: 600px;**/
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.rowpalettelist {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

/*.sidebar-panel-custom {
  width: 400px;
  height: calc(100vh - 145px);
  overflow-y: auto;
}*/

/*.sidebar-layout {
  background-color: blue;
}*/

.sidebar-panel-custom {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 170px;
  height: calc(100vh - 145px);
  overflow-y: auto;
  background-color: white;
}

.sidebar-panel-custom-2d {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 300px;
 /* height: calc(100vh - 145px);*/
  overflow-y: auto;
}

.image-button {
  border: none;
  padding: 0;
  background: none;
  box-shadow: none;
}

.image-button img {
  display: block;
}

::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.rowpalettelist {
  overflow-y: scroll;
}

.plotheatmap {
  height: calc(100vh - 145px);
}

.well {
  background-color:white;
  border: none;
  width: 300px;
}
